<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>input.html</h1>
		<form method="post" action="/input" th:object="${profileForm}">
			<!-- EX2. -->
<!--			名前の入力欄：<input type="text" name="name" />-->
			<!-- EX3. -->
<!--			名前の入力欄：<input type="text" name="name" th:value="${name}"/>-->
			<!-- EX5. -->
			<div class="form-group">
				<label for="name">名前の入力欄：</label>
				<input type="text" th:field="*{name}" th:value="${name}" class="form-check-inline" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{name}"></div>
			</div>
			<div class="form-group">
				<label for="birthday">誕生日：</label>
				<input type="date" th:field="*{birthday}" class="form-check-inline" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{birthday}"></div>
			</div>
			<div class="form-group">
				<label for="gender">性別：</label>
				<div th:each="item : ${genderMap}" class="form-check-inline">
					<input type="radio" th:field="*{gender}" class="form-check-input" th:value="${item.value}" th:errorclass="is-invalid">
					<label class="form-check-label" th:text="${item.key}"></label>
				</div>
				<div class="invalid-feedback" th:errors="*{gender}"></div>
			</div>
			<div class="form-group">
				<label for="bloodtype">血液型：</label>
				<select class="dropdown form-check-inline" th:field="*{bloodtype}" th:errorclass="is-invalid">
					<option th:value="0"></option>
					<option th:each="item : ${bloodtypeMap}" th:value="${item.value}" th:text="${item.key}"></option>
				</select>
				<div class="invalid-feedback" th:errors="*{bloodtype}"></div>
			</div>
			<div class="form-group">
				<label for="study">学習内容：</label>
				<div th:each="item : ${studyMap}">
					<input type="checkbox" th:field="*{study}" th:value="${item.key}" th:text="${item.value}" th:errorclass="is-invalid">
				</div>
				<div class="invalid-feedback" th:errors="*{study}"></div>
			</div>
			<div class="form-group">
				<label for="remarks">備考：</label>
				<textarea th:field="*{remarks}" class="form-check-inline" th:errorclass="is-invalid"></textarea>
				<div class="invalid-feedback" th:errors="*{remarks}"></div>
			</div>
			<input type="submit" value="送信" />
		</form>
	</body>
</html>