<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>input.html</h1>
		<form method="post" action="/input">
			<!-- EX2. -->
<!--			名前の入力欄：<input type="text" name="name" />-->
			<!-- EX3. -->
			名前の入力欄：<input type="text" name="name" th:value="${name}"/>
			<!-- EX5. -->
			<br>
			誕生日：<input type="date" name="birthday" />
			<br>
			性別：<input type="radio" name="gender1" />男性
				<input type="radio" name="gender2" />女性
				<input type="radio" name="gender3" />その他
			<input type="submit" value="送信" />
		</form>
	</body>
</html>